.dropdown-item {
    background-color: rgba(191, 173, 228, 0.145);
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(191, 173, 228, 0.300);
    color:rgb(233, 220, 232);
}

.main-block {
    margin: auto;
    text-align: center;
    width: 500px;
}